# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Project specific
.env
*.log
dist/
build/

#The first code 
make_boltz_yamls_with_a3m

#The data used to create the yaml files
a3m_all/
gpcrs/
ligand_folder/
output/
output_Approved/
output_phase_1/
output_phase_2/
output_phase_3/
Cleaned_data/
git_commands.txt
requirements.txt
logs/

#file from a3m_all
bfd.mgnify30.metaeuk30.smag30.a3m

#The gemini skills
Gemini.md

#The docker file
Dockerfile
.dockerignore
docker-compose.yaml

#Not needed files 
git_commands.txt

#Not needed code
smiles_cleaner.py 